body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main h1 {
  font-size: 64px;
  margin: 0;
}

.main p {
  font-size: 20px;
  color: #ccc;
}

section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 24px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
  color: #ddd;
}

img,
video {
  width: 100%;
  border-radius: 16px;
  display: block;
}
.gif-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.gif-grid img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.aseprite-gif {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}
.profile-section {
  margin-bottom: 120px;
}

.profile-card {
  background: #1b1b1b;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid #333;
}

.profile-item {
  display: flex;
  gap: 16px;

  padding: 18px 0;

  border-bottom: 1px solid #2a2a2a;
}

.profile-item:last-child {
  border-bottom: none;
}

.label {
  min-width: 90px;

  font-size: 16px;
  font-weight: 700;

  color: white;
}

.value {
  font-size: 16px;
  font-weight: 300;

  color: #cfcfcf;
}
.video-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

    .video-grid video {
        width: 50%;
        max-width: 500px;
        border-radius: 16px;
    }
.video-description {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    color: #cfcfcf;
}
